[submodule "BalanduinoAndroidApp"]
	path = BalanduinoAndroidApp
	url = https://github.com/TKJElectronics/BalanduinoAndroidApp.git
[submodule "BalanduinoProcessingApp"]
	path = BalanduinoProcessingApp
	url = https://github.com/TKJElectronics/BalanduinoProcessingApp.git
[submodule "Firmware/libraries/KalmanFilter"]
	path = Firmware/libraries/KalmanFilter
	url = https://github.com/TKJElectronics/KalmanFilter.git
